---
const { bk, tl, ch, se, sb, pr, title } = Astro.props;
---

<h5 id={`bk${bk}-tl${tl}-ch${ch}-se${se}-sb${sb}-pr${pr}`} class="text-base font-semibold dark:text-white pl-5 md:pl-10 my-4">
  PARAGRAPHE {pr} : {title}
</h5>
