---
const { bk, tl, ch, se, title } = Astro.props;
---

<h5 id={`bk${bk}-tl${tl}-ch${ch}-se${se}`} class="text-base font-semibold dark:text-white text-center md:text-start p-0 md:pl-8 my-4">
  SECTION {se} : {title}
</h5>
